body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0a1124;
    color: white;
}

/* NAVBAR ------------------------------------------------------------ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #c7c7c7;
    text-decoration: none;
    font-size: 15px;
}

.nav-links a:hover {
    color: white;
}

/* HERO SECTION ------------------------------------------------------ */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-text h1 {
    width: 450px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.hero-btn {
    margin-top: 25px;
    padding: 14px 28px;
    background: #2c6cff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.hero-btn:hover {
    background: #1f50bd;
}

.hero-img {
    width: 420px;
    filter: drop-shadow(0 0 20px #153a7a);
}

/* ABOUT ------------------------------------------------------------- */

.about {
    padding: 40px 60px;
    max-width: 600px;
}

/* PRODUCTS ---------------------------------------------------------- */

.products {
    padding: 40px 60px;
}

.product-cards {
    display: flex;
    gap: 35px;
    margin-top: 25px;
}

.product-card {
    background: #fff;
    color: #000;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.product-card img {
    width: 180px;
    margin-bottom: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 40px 0;
    color: #777;
}

/* CONTACT SECTION -------------------------------------------- */

.contact-section {
    padding: 60px;
    color: white;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-desc {
    max-width: 600px;
    margin-bottom: 40px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* FORM */
.contact-form {
    background: #111a33;
    padding: 30px;
    border-radius: 12px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

.contact-form button {
    margin-top: 10px;
    padding: 14px;
    background: #2c6cff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background: #1f50bd;
}

/* INFO AREA */
.contact-info {
    width: 40%;
}

.contact-info h3 {
    margin-top: 20px;
}

.socials {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.socials a {
    color: #7aa2ff;
    text-decoration: none;
}

.socials a:hover {
    color: white;
}
